body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #141414; 
    background-image: none;
    background: #0f0f0f !important;
}

.board-wrapper {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #444; 
}